.navBarMain{
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    margin: -2px;
   
}
.navBarMain img{
  
}

 .porum{
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background-color: #87b4bb;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
} 