.button{
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(102, 154, 250);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
  }