.modal {
  display: flex;
  flex-direction: column;
}

.modal input {
  width: 150px;
  margin-top: 10px;
  margin-left: 321px;
}

.modal textarea {
  margin-top: 20px;
  height: 200px;
}
.post-module .thumbnail img {
  display: block;
  height: 58%;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  display: block;
  transition: all 0.3s linear 0s;
  margin-top: -22px;
}

.studentCards-wrapper {
  /* display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content; */
}
.instructorsDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(233, 224, 224);
  width: 100%;
}

.studentCard {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  margin: 10px;
  height: 18em;
  width: 12em;
  font-size: 1.5em;
  color: white;
  margin-left: 1%;
  border-radius: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-color: rgb(102, 155, 148);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 1200px;
  height: 300px;
}

.title {
  margin-bottom: auto;
  width: 100%;
}

.descrip {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  text-align: center;
}

.studentCard:hover {
  transform: rotate(0);
}

.studentCard .tags {
  display: flex;
}

.studentCard .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.studentCard:hover .tags .tag {
  background: var(--color);
  color: white;
}

.studentCard .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.studentCard:before,
.studentCard:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.studentCard:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.studentCard:after {
  background: white;
  width: 200%;
  height: 200%;
}

.studentCard:hover {
  color: var(--color);
}

.studentCard:hover:before,
.studentCard:hover:after {
  transform: scale(1);
}

.studentCard-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}
.InstructorsMain {
  display: flex;
  flex-wrap: wrap;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .studentCards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .studentCards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .studentCard-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .studentCards-wrapper {
    padding: 4rem 2rem;
  }
  .studentCard {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

/* .post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #ffffff;
    min-width: 270px;
    height: 470px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .post-module:hover,
  .hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  }
  .post-module:hover .thumbnail img,
  .hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
    
  }
  .post-module .thumbnail {
    background: #000000;
    height: 400px;
    overflow: hidden;
  }
  .post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .post-module .thumbnail .date .day {
    font-size: 18px;
  }
  .post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
 }
  .blog-card a {
    color: inherit;
 }
  .blog-card a:hover {
    color: #5ad67d;
 }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
 }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
 }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
 }
  .blog-card .details, .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
 }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
 }
  .blog-card .details a {
    text-decoration: dotted underline;
 }
  .blog-card .details ul li {
    display: inline-block;
 }
  .blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
 }
  .blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
 }
  .blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
 }
  .blog-card .details .tags li {
    margin-right: 2px;
 }
  .blog-card .details .tags li:first-child {
    margin-left: -4px;
 }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
 }
  .blog-card .description h1, .blog-card .description h2 {
    font-family: Poppins, sans-serif;
 }
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
 }
  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
 }
  .blog-card .description .read-more {
    text-align: right;
 }
  .blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
 }
  .blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
 }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
 }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
 }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
 }
  .blog-card:hover .details {
    left: 0%;
 }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px;
   }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
   }
    .blog-card .description {
      flex-basis: 60%;
   }
    .blog-card .description:before {
      transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
   }
    .blog-card.alt {
      flex-direction: row-reverse;
   }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      transform: skew(3deg);
   }
    .blog-card.alt .details {
      padding-left: 25px;
   }
 }
   */
