.profile-container {
  display: flex;
  /* flex-direction: row; */
}

.profile-logout-container {
  width: 100%;
  display: flex;
justify-content: space-between;
}
.profile-logout-container-btn {
  display: flex;
  justify-content: space-between;
}
.iconsProfile{
  display: flex;
  justify-content: space-evenly;
}
