.profile {
    display: flex;
    width: 150px;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 10px;
    background-color: aquamarine;
}

.icons{
    display: flex;
    margin-top: 20px;
}