
.profile-container {
    width: 200px;
    border:5px solid green;
    display: flex;
    flex-direction: row;
  
  }
.greeting-profile-container{
    border:5px solid pink;
    
}
.profile-logout-container{
    border:5px solid black;  
    display: flex; 
}

